body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

:local .main-view {
  position: absolute;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25%;

  canvas {
    width: 100%;
    height: 100%;
  }
}

:local .grid-plot {
  position: absolute;
  z-index: 100;
  bottom: 10px;
  right: calc(25% + 10px);
}

:local .sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
}
