body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 2em;

  overflow: hidden;
  background-color: #eee;

  user-select: none;
  cursor: default;
}

:local .main-view {
  position: absolute;
  z-index: 90;

  top: 0;
  bottom: 0;
  left: 0;
  right: 25%;

  canvas {
    width: 100%;
    height: 100%;
  }
}

:local .grid-plot {
  position: absolute;
  z-index: 100;

  bottom: 10px;
  right: calc(25% + 10px);
}

:local .sidebar {
  position: absolute;
  z-index: 200;

  background-color: white;

  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
}
