:local(.tab) {
  padding: 10px 16px;

  input[type = "number"] {
    outline: none;
    font: inherit;
    border: none;
    border-bottom: 1px solid #aaa;
    width: 30px;

    text-align: center;
    margin: 0 2px;

    /* Make this look like an ordinary text field */
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      border-bottom-color: #00bcd4;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px -16px;
  }

  h2 {
    font-size: 1.2em;
  }
}

:local(.control-with-label) {
  span {
    display: inline-block;
    width: 80px;
  }

  input[type = "number"] {
    width: 40px;
  }
}
